name: Check library state

on: push

jobs:
  check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      
      - name: Install protoc
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler && protoc --version
      
      - name: Build sources
        run: make build
      - name: Check sources
        run: make run-test